<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.hol.danirb.andracen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controladores.Aplicacion"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controladores.PantallaCarga"
            android:label="@string/andracen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controladores.ConfiguracionActivity" />
        <activity android:name=".controladores.ListadoItem" />
        <activity android:name=".controladores.ListadoZonas" />
        <activity android:name=".controladores.ListadoTipos" />
        <activity
            android:name=".controladores.ItemDetallado"
            android:label="@string/title_activity_item_detallado"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
